/* CSS files add styling rules to your content */


table {
  font-family: arial, sans-serif;
  color:gray;
  border-collapse: collapse;
  width: 56%;
  margin-left:auto;
  margin-right:auto;
}



body {
  
  margin: 2em;
}

h1 {
    font-family: "Google Sans Display",Roboto,Arial,sans-serif;
    font-size: 47px;
    line-height: 32px;
    color: #424242;
    letter-spacing: .28px;

}


h2{
  
  font-family: "Google Sans Display",Roboto,Arial,sans-serif;
    font-size: 1.6rem;
    line-height: 32px;

  color:#424242;
}



p{
  
  font-family: "Google Sans Display",Roboto,Arial,sans-serif;
    font-size: 1.0rem;
    line-height: 32px;

  color:#424242;
}

#outer-div {
  width: 100%;
  text-align: center;
  padding:2px;
 
}

#inner-div {
  display: inline-block;
  margin: 0 auto;
  padding: 1px;
width:100%;
 
}


    

.main{
  display:block;
  margin-right:auto;
  margin-left:auto;
    padding:17px;
  margin:auto;

}



.newspaper {
  column-count: 1;
}


  * {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 30px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row: after {
  content: "";
  display: table;
  clear: both;
}

.border1
    {
      border: 2px solid black;
      border-bottom:0px;
    }

.googlequote{
  font-family: "Google Sans Display",Roboto,Arial,sans-serif;
    font-size: 1.5rem;
    line-height: 32px;
    color: #424242;
   

}

.dot {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right:auto;
  margin-left:auto;
  float:center;
}

.dot2 {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  float:right;
  margin-right:auto;
  margin-left:auto;
}
.solid {
  border-top: 5px solid #bbb;
  width:100%;
  border-color:#528FF5;
}


.newspaper2 {
  column-count: 1;
  width:100%;
}

.div1{
  width:100%
}

.divrow1{
  width:33%;
  float:left;
}

.divrow2{
  width:33%;
  float:left;
  margin-left:auto;
  margin-right:auto;
}

.divrow3{
  width:33%;
  float:left;
  margin-left:auto;
  margin-right:auto;
}

