/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-image: url(http://www.theflowersavenue.com/gallery/violets/violets_4.jpg)
}

h1 {
  font-style: italic;
  color: #373fff;
}

* {
  box-sizing: border-box;
}

.box {
  float: left;
  padding: 30px;
  color: white;
  height: 200px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.redbox{
  background-color: red;
  font-type: Helvetica;
  
}

.bluebox{
  background-color: blue;
  color: white
}

.pinkbox{
  background-color: pink;
  padding: 50px;
  
}

.greenbox{
  background-color: green;
  color: pink
}

.orangebox{
  background-color: orange;
  color:black
}

.onecol{
  width: 100%;
}

.twocol{
  width: 50%;
  border: 2px solid white;
}

.threecol{
  width: 33.33%;
}


* {
  box-sizing:border-box;
}

.left {
  background-color:#2196F3;
  padding:20px;
  float:left;
  width:20%; /* The width is 20%, by default */
}

.main {
  background-color:#f1f1f1;
  padding:20px;
  float:left;
  width:60%; /* The width is 60%, by default */
}

.right {
  background-color:#4CAF50;
  padding:20px;
  float:left;
  width:20%; /* The width is 20%, by default */
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width:800px) {
  .onecol, .twocol, .threecol {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}



